<%- include('ek/header', {bot, user, path}) %>
<div class="container">
	<div class="jumbotron">
		<div align="center">
      <h3 style="color:#fff">Yazdığın ID'e sahip bot sistemde zaten bulunuyor.</h3>
    </div>
</div>
</div></div></div>
<% include ./ek/footer %>