<%- include('ek/header', {bot, user, path}) %>
<div class="container">
	<div class="jumbotron">
		<div align="center">
      <form method="POST">
      <input type="text" id="red-sebep" name="red-sebep" placeholder="Reddetme sebebini yazınız." required>
   
        <button class="btn btn-danger" type="sumbit">Reddet</button>
      </form>
    </div>
</div>
</div>
<% include ./ek/footer %>