<br>
<div class="footer" style="color:#2C2F33; border-radius:4px"> 
	<div class="footer_container" style="color:#2C2F33">
		<div id="kutu">
			<b>Genel Sayfalar</b> 
			<ul>
				<li><a href="/">Ana Sayfa</a></li>
				<li><a href="/botlar">Botlar</a></li>
        <li><a href="/hakkimizda">Hakkımızda</a></li>
				<li><a href="/sertifika">Sertifika</a></li>    <!--Buraya mesela sayfa ekliyorsun-->
			</ul>
		</div>
    
		<div id="kutu" style="margin-left:150px;">
			<b>İletişim</b>
			<ul>
				<li><a href="https://discord.gg/CGzAUQ8"><img src="https://maxcdn.icons8.com/Share/icon/Logos/discord_logo1600.png" height="42" width="42" alt="discord-icon" /></a></li>
			</ul>
    </div>
    <br><br><br><br><br><br><br><br><br><br>
    <h6 style="color:white">
      Sitemizin Discord ile herhangi bir ortaklığı yoktur ve resmî değildir.
    </h6>
	</div>
</div>